body {
  h1 { color: red; }
}

body {
  margin: 0;
  padding: 0;
  background: pink;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  position: relative;
  border: thin solid blue;
  width: 600px;
  height: 600px;
  cursor: crosshair;
  overflow: hidden;
}

.enemy {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: blue;
  display: block;
  position: absolute;
 
} 

.poof {
  background: red;
  /* height: 300px; */
  /* webkit-transition: height 2s; */
  /* transition: height 2s; */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /* width: 400px; */
  /* height: 400px; */
  border: none !important;
  opacity: 0;
}
