body {
  h1 { color: red; }
}

body {
  margin: 0;
  padding: 0;
  background: #CCFFCC;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  position: relative;
  border: thin solid blue;
  width: 600px;
  height: 600px;
  cursor: crosshair;
  overflow: hidden;
  background-image: url('../images/BG.png');
  background-size: contain;
}

.enemy {
  /* border-radius: 50%; */
  background-image: url('../images/Plane/Fly.png');
  background-size: cover;
  width: 100px;
  height: 70px;
  /* background: blue; */
  display: block;
  position: absolute;
 
} 

.poof {
  /* background: red; */
  /* height: 300px; */
  /* webkit-transition: height 2s; */
  /* transition: height 2s; */
  background-size: cover;
  width: 100px;
  height: 70px;
  background-image: url('../images/Plane/Dead.png');
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
  /* width: 400px; */
  /* height: 400px; */
  border: none !important;
  opacity: 0;
}
