.enemy {
  width: 100px;
  height: 100px;
  background: blue;
  display: block;
  position: absolute;
 
} 

.poof {
  background: red;
  height: 300px;
  webkit-transition: height 2s;
  transition: height 2s;
}
